<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcatquestion.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    

    <application
        android:icon="@drawable/logo57x57"
        android:label="MCAT"
        android:debuggable="true">
        <activity
            android:name=".MCATQuestionADayActivity"
            android:label="MCAT"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mcatquestion.android.Login"
            android:screenOrientation="portrait"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity">
            </activity>
        <activity
            android:name="com.mcatquestion.android.Question"
            android:screenOrientation="portrait"
            android:label="Question">
        </activity>
        <activity
            android:name="com.mcatquestion.android.Answer"
            android:screenOrientation="portrait"
            android:label="Results">
        </activity>
        <activity
            android:name="com.mcatquestion.android.Previous"
            android:screenOrientation="portrait"
            android:label="Previous Questions">
        </activity>
        <activity
            android:name="com.mcatquestion.android.MyStats"
            android:screenOrientation="portrait"
            android:label="My Stats">
        </activity>
        <activity
            android:name="com.mcatquestion.android.eLearning"
            android:screenOrientation="portrait"
            android:label="eLearning">
        </activity>
        <activity
            android:name="com.mcatquestion.android.eCourse"
            android:screenOrientation="portrait"
            android:label="eCourse">
        </activity>
        <activity
            android:name="com.mcatquestion.android.News"
            android:screenOrientation="portrait"
            android:label="News">
        </activity>
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            />
    </application>

</manifest>